.button_actions {
    position: relative;
    display: block;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .button_actions {
        width: 100%;
        margin-top: 0;
        margin-left: 0
    }
}

.button_actions.hidden {
    display: none !important
}

@media (max-width: 767px) {
    .button_actions.button_call {
        margin-top: 20px
    }
}

.button_actions.button_call .btn_base {
    background: #dddddd;
    margin: 0
}

.button_actions .btn_base {
    height: 50px;
    line-height: 50px;
    float: left;
    position: relative;
    text-decoration: none;
    text-transform: none;
    background: #71cbe8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% / 2 - 5px);
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: "Quicksand",sans-serif;
    margin-top: 0px;
    border-radius: 5px;
    border: solid 1px transparent;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s
}

@media (max-width: 767px) {
    .button_actions .btn_base {
        width: 100%
    }
}

.button_actions .btn_base:first-child {
    margin-right: 10px
}

@media (max-width: 767px) {
    .button_actions .btn_base:first-child {
        margin-right: 0;
        margin-bottom: 10px
    }
}

.button_actions .btn_base .text_1 {
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    position: relative
}

@media (max-width: 1199px) and (min-width: 992px) {
    .button_actions .btn_base .text_1 {
        font-size: 14px
    }
}

.button_actions .btn_base:hover {
    color: #fff;
    background: #333;
    cursor: pointer;
    border-color: #333
}

    .button_actions .btn_base:hover .text_1 {
        color: #fff
    }

.button_actions .btn_base[disabled] {
    margin-top: 10px;
    background-color: #f9a529;
    color: #fff;
    font-size: 20px
}

    .button_actions .btn_base[disabled] .text_1 {
        padding-left: 0
    }

        .button_actions .btn_base[disabled] .text_1:before {
            display: none
        }

    .button_actions .btn_base[disabled]:hover {
        border-color: transparent;
        color: #fff;
        cursor: unset
    }

.button_actions .btn_base.btn_buynow {
    background: #f9a529
}

    .button_actions .btn_base.btn_buynow:hover {
        background: #333
    }

    .button_actions .btn_base.btn_buynow .text_1 {
        padding-left: 30px
    }

        .button_actions .btn_base.btn_buynow .text_1:before {
            content: "";
            height: 19px;
            width: 19px;
            background-image: url(icon-cart1103.png?1665454509075);
            background-size: contain;
            background-repeat: no-repeat;
            top: 15px;
            left: 0px;
            position: absolute
        }

.form-group .input_number_product {
    display: inline-flex;
    width: 70px;
    height: 42px;
    position: relative;
    background: transparent
}

    .form-group .input_number_product .btn_num {
        font-size: 17px;
        display: inline-block;
        width: 26px;
        height: 26px;
        line-height: 26px;
        background: transparent;
        float: left;
        color: #363025;
        text-align: center;
        padding: 0px;
        border: 0;
        position: absolute;
        top: 0;
        outline: none;
        cursor: pointer;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s
    }

        .form-group .input_number_product .btn_num svg {
            width: 16px;
            height: 16px;
            color: #363025
        }

        .form-group .input_number_product .btn_num.num_1 {
            right: 0;
            top: auto;
            bottom: 0
        }

        .form-group .input_number_product .btn_num.num_2 {
            right: 0;
            top: 0
        }

    .form-group .input_number_product input {
        display: block;
        color: #363025;
        text-align: center;
        box-shadow: none;
        font-family: "Quicksand",sans-serif;
        background: #fff;
        margin: 0;
        padding: 0 30px 0 0;
        height: 42px;
        line-height: 42px;
        width: 100%;
        min-height: 42px;
        border: 1px solid #eeddba;
        border-radius: 0;
        box-shadow: none;
        font-size: 17px
    }

@media (max-width: 767px) {
    .form-group .input_number_product input {
        width: 100%
    }
}

.form-product {
    padding: 0px;
    margin-bottom: 0
}

    .form-product .form_button_details {
        padding: 0;
        display: block
    }

        .form-product .form_button_details header {
            width: 100px;
            float: left;
            line-height: 40px;
            font-size: 17px;
            color: #363025
        }

    .form-product form {
        margin-bottom: 15px
    }

.box-variant .form-group {
    width: 100%;
    display: block
}

    .box-variant .form-group .selector-wrapper {
        margin-bottom: 15px !important;
        width: 100%;
        float: left
    }

        .box-variant .form-group .selector-wrapper label {
            font-weight: 400;
            width: 100px;
            font-size: 14px;
            float: left;
            color: #363025;
            line-height: 40px
        }

        .box-variant .form-group .selector-wrapper .single-option-selector {
            height: 40px;
            border-radius: 0;
            border-color: #eaebf3;
            width: 200px;
            float: left
        }

.details-pro .swatch {
    margin: 15px 0
}

    .details-pro .swatch:first-child {
        border-bottom: none
    }

    .details-pro .swatch:last-child {
        padding-bottom: 30px;
        border-bottom: 1px dashed #e3d7bf
    }

.details-pro .form-product {
    padding-top: 0px
}

    .details-pro .form-product .swatch .header {
        line-height: 40px;
        float: left;
        font-size: 17px;
        color: #363025;
        font-weight: 700
    }

.details-pro .danhgiasp a {
    color: #333;
    font-weight: 400;
    text-decoration: underline
}

    .details-pro .danhgiasp a:hover {
        color: #f9a529;
        text-decoration: none;
        cursor: pointer
    }

.details-pro .danhgiasao {
    position: relative;
    display: block;
    margin: 0 0 10px
}

    .details-pro .danhgiasao .sapo-product-reviews-badge {
        float: left;
        padding: 0 10px 0 0
    }

    .details-pro .danhgiasao img {
        display: none
    }

.details-pro .sapo-product-reviews-badge {
    margin: 0px auto;
    padding: 0px
}

    .details-pro .sapo-product-reviews-badge .sapo-product-reviews-star {
        line-height: 23px
    }

        .details-pro .sapo-product-reviews-badge .sapo-product-reviews-star i {
            font-size: 12px
        }

    .details-pro .sapo-product-reviews-badge div img {
        display: none
    }

    .details-pro .sapo-product-reviews-badge div p {
        font-size: 12px;
        color: #7b7b7b
    }

.details-pro .product_sku {
    font-size: 12px;
    font-family: "Quicksand",sans-serif;
    color: #363025;
    font-weight: 700;
    line-height: 18px;
    margin: 0 0 25px;
    display: block
}

    .details-pro .product_sku .product-sku {
        font-weight: 700;
        color: #848484
    }

.details-pro .group-status {
    margin-bottom: 20px
}

    .details-pro .group-status .first_status {
        display: inline-block;
        font-family: "Quicksand",sans-serif;
        position: relative;
        font-size: 17px;
        font-weight: 700;
        color: #363025
    }

@media (max-width: 767px) {
    .details-pro .group-status .first_status {
        display: block
    }
}

.details-pro .group-status .first_status .status_name {
    font-weight: 400;
    color: #363025
}

.details-pro .group-status .status_2 {
    padding-left: 10px;
    margin-left: 10px
}

@media (max-width: 767px) {
    .details-pro .group-status .status_2 {
        padding-left: 0;
        margin-left: 0
    }

        .details-pro .group-status .status_2:before {
            display: none
        }
}

.details-pro .group-status .status_2:before {
    content: "";
    height: 20px;
    width: 1px;
    position: absolute;
    left: 0;
    top: 3px;
    background: #e3d7bf
}

@media (max-width: 767px) {
    .details-pro .group-status .line {
        display: none
    }
}

.details-pro .product-summary .rte {
    font-family: "Quicksand",sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #363025
}

    .details-pro .product-summary .rte p {
        margin: 0
    }

    .details-pro .product-summary .rte ul {
        padding-left: 15px;
        margin: 0
    }

        .details-pro .product-summary .rte ul li {
            position: relative
        }

            .details-pro .product-summary .rte ul li:before {
                content: "";
                height: 5px;
                width: 5px;
                border-radius: 50%;
                position: absolute;
                left: -15px;
                top: 8px;
                background: #f9a529
            }

    .details-pro .product-summary .rte ol {
        padding-left: 17px
    }

    .details-pro .product-summary .rte img {
        display: none
    }

.details-pro .soluong {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #e3d7bf
}

    .details-pro .soluong label {
        margin: 0;
        line-height: 40px;
        float: left;
        width: 100px;
        display: inline-block !important;
        font-weight: 700;
        font-size: 17px;
        color: #363025
    }

.details-pro .form_product_content .label_sl {
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    display: inline-block;
    float: left;
    line-height: 35px;
    margin-right: 20px;
    font-size: 12px
}

.details-pro .social-sharing {
    margin-top: 10px
}

@media (max-width: 767px) {
    .details-pro .social-sharing {
        margin-top: 30px
    }
}

.details-pro .social-sharing a {
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    margin-right: 0;
    margin-left: 3px
}

    .details-pro .social-sharing a svg {
        width: 13px;
        height: 13px;
        color: #363636
    }

    .details-pro .social-sharing a:hover svg {
        color: #f9a529
    }

.details-pro .tag-product {
    width: 100%;
    float: left;
    margin-top: 10px
}

.details-product .large-image {
    text-align: center;
    width: 100%
}

@media (min-width: 768px) and (max-width: 991px) {
    .details-product .large-image {
        margin-bottom: 30px
    }
}

.details-product .large-image a {
    background: #fff;
    justify-content: center;
    display: flex;
    -o-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -os-justify-content: center;
    -o-display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    -os-display: flex;
    align-items: center;
    min-height: 490px
}

@media (min-width: 425px) and (max-width: 767px) {
    .details-product .large-image a {
        min-height: 300px
    }
}

@media (max-width: 424px) {
    .details-product .large-image a {
        min-height: 240px
    }
}

.details-product .large-image a img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    position: relative !important
}

.details-product .tab_h {
    display: block;
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .details-product .tab_h {
        margin-top: 25px
    }
}

@media (max-width: 767px) {
    .details-product .details-pro {
        margin-top: 30px
    }
}

.details-product .details-pro .product-price {
    color: #f9a529;
    font-weight: 700;
    font-size: 26px;
    font-family: "Quicksand",sans-serif
}

.details-product .details-pro .price-box {
    position: relative;
    color: #f9a529;
    display: block;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #e3d7bf
}

    .details-product .details-pro .price-box del {
        display: inline-block;
        font-family: "Quicksand",sans-serif;
        font-weight: 400;
        color: #363025;
        font-size: 18px;
        display: inline-block;
        padding-left: 10px
    }

.details-product .details-pro .custom-btn-number {
    width: 70px;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    height: 42px;
    min-height: unset
}

    .details-product .details-pro .custom-btn-number label {
        font-size: 14px
    }

    .details-product .details-pro .custom-btn-number #qty {
        height: 35px;
        font-size: 14px;
        margin: 0;
        min-height: unset
    }

    .details-product .details-pro .custom-btn-number .qtyminus {
        position: absolute;
        left: 25px;
        top: 4px;
        font-size: 14px
    }

    .details-product .details-pro .custom-btn-number .qtyplus {
        position: absolute;
        right: 25px;
        top: 4px;
        font-size: 14px
    }

#quick-view-product {
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0 !important;
    z-index: 9999
}

    #quick-view-product .details-product {
        width: 100%;
        float: left
    }

    #quick-view-product .available {
        margin: 0;
        font-weight: 400
    }

        #quick-view-product .available.outstock {
            color: #E55E5E
        }

    #quick-view-product .head-qv {
        margin: 0
    }

        #quick-view-product .head-qv .vend-qv {
            overflow: hidden;
            margin-bottom: 5px
        }

            #quick-view-product .head-qv .vend-qv .left_vend .loaisp {
                color: #f4b915;
                margin-right: 15px
            }

            #quick-view-product .head-qv .vend-qv .left_vend .line_tt {
                margin: 0 5px
            }

            #quick-view-product .head-qv .vend-qv .hangsx, #quick-view-product .head-qv .vend-qv .soluong {
                font-size: 14px;
                color: #969696
            }

                #quick-view-product .head-qv .vend-qv .hangsx .name_ven, #quick-view-product .head-qv .vend-qv .soluong .name_ven {
                    color: #969696;
                    margin-right: 15px
                }

                #quick-view-product .head-qv .vend-qv .hangsx a, #quick-view-product .head-qv .vend-qv .soluong a {
                    color: #969696
                }

            #quick-view-product .head-qv .vend-qv .soluong {
                color: #f4b915
            }

            #quick-view-product .head-qv .vend-qv .share_product_qv {
                display: inline;
                margin: 0;
                list-style: none;
                float: left
            }

                #quick-view-product .head-qv .vend-qv .share_product_qv .block-share-cs {
                    display: block;
                    float: left;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    padding: 4px;
                    margin-right: 5px
                }

                    #quick-view-product .head-qv .vend-qv .share_product_qv .block-share-cs a .fa {
                        font-size: 14px;
                        color: #fff
                    }

                    #quick-view-product .head-qv .vend-qv .share_product_qv .block-share-cs:hover {
                        color: #f4b915;
                        border: solid 1px #f4b915;
                        background: #fff
                    }

                        #quick-view-product .head-qv .vend-qv .share_product_qv .block-share-cs:hover .fa {
                            color: #f4b915
                        }

                #quick-view-product .head-qv .vend-qv .share_product_qv .fb {
                    background: #3b5998
                }

                #quick-view-product .head-qv .vend-qv .share_product_qv .googleplus {
                    background: #dc4e41
                }

                #quick-view-product .head-qv .vend-qv .share_product_qv .tw {
                    background: #1da1f2
                }

                #quick-view-product .head-qv .vend-qv .share_product_qv .pintrest {
                    background: #cb2027
                }

                #quick-view-product .head-qv .vend-qv .share_product_qv .linkedin {
                    background: #324c83
                }

    #quick-view-product h3 {
        margin: 0 0 15px
    }

    #quick-view-product .qwp-name {
        font-family: "Quicksand",sans-serif;
        margin: 0px 0 10px;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #333
    }

        #quick-view-product .qwp-name a {
            color: #363025
        }

        #quick-view-product .qwp-name:hover > a {
            text-decoration: none;
            color: #f9a529
        }

    #quick-view-product .product-images .img_02 {
        margin: 0 auto
    }

    #quick-view-product .product-images .col_thumbs_visible {
        width: 100%;
        display: block;
        float: left;
        position: relative
    }

    #quick-view-product .product-images .col_large_default {
        text-align: center;
        display: block;
        overflow: hidden;
        float: left;
        border: solid 1px #ebebeb;
        margin-bottom: 0px;
        width: 100%;
        float: left
    }

@media (min-width: 992px) and (max-width: 1199px) {
    #quick-view-product .product-images .col_large_fix1img {
        width: 100%
    }
}

@media (min-width: 1200px) {
    #quick-view-product .product-images .col_large_fix1img {
        width: 100%
    }
}

#quick-view-product .product-images .col_large_full {
    padding: 0px
}

#quick-view-product .product-images .large-image a {
    display: block
}

@media (min-width: 1200px) {
    #quick-view-product .product-images .large-image a {
        height: 455px;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #quick-view-product .product-images .large-image a {
        height: 300px !important
    }
}

@media (max-width: 991px) {
    #quick-view-product .product-images .large-image a {
        height: auto !important;
        margin-bottom: 15px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #quick-view-product .product-images .large-image a {
        height: 555px;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important
    }
}

@media (max-width: 767px) {
    #quick-view-product .product-images .large-image a {
        margin-bottom: 15px;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important
    }
}

#quick-view-product .product-images .large-image a .zoomWrapper {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden
}

#quick-view-product .product-images .large-image a img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    position: relative !important
}

#quick-view-product .more-view-wrapper.clearfix {
    width: 100%;
    float: left
}

    #quick-view-product .more-view-wrapper.clearfix .owl-dots {
        display: none
    }

#quick-view-product .product-images .img_02 {
    margin: 0 auto
}

#quick-view-product .product-images .col_large_default {
    text-align: center;
    display: block;
    float: left;
    border: solid 1px #ebebeb
}

#quick-view-product .product-images .col_large_full {
    padding: 0px
}

#quick-view-product .product-images .large-image {
    padding: 0px 0px 0px 0px
}

    #quick-view-product .product-images .large-image a {
        border: none
    }

@media (min-width: 768px) and (max-width: 991px) {
    #quick-view-product .product-images .large-image a {
        height: 460px;
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important
    }
}

@media (min-width: 1200px) {
    #quick-view-product .product-images .large-image {
        height: 455px;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #quick-view-product .product-images .large-image {
        height: 300px
    }
}

@media (max-width: 767px) {
    #quick-view-product .product-images .large-image {
        margin-bottom: 15px;
        padding: 0px
    }
}

#quick-view-product .product-images .large-image a {
    display: block
}

    #quick-view-product .product-images .large-image a .zoomWrapper {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        overflow: hidden
    }

    #quick-view-product .product-images .large-image a img {
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        width: auto !important;
        height: auto !important;
        position: relative !important
    }

#quick-view-product .product-images .slides .item a img {
    margin: 0 auto
}

.product-featured-image-quickview {
    margin-bottom: 10px;
    margin: 0 auto
}

#quick-view-product .form-group .input_number_product {
    display: inline-block;
    width: 100px;
    height: 45px;
    position: relative;
    background: transparent;
    float: left
}

#quick-view-product .button_actions {
    margin-top: 0
}

    #quick-view-product .button_actions .btn_base {
        width: 100%;
        margin-top: 20px
    }

#quick-view-product .form_product_content {
    width: 100%
}

#quick-view-product .form-group label {
    margin: 0;
    line-height: 40px;
    float: left;
    width: 75px;
    display: inline-block !important;
    font-weight: bold;
    font-size: 14px
}

#quick-view-product .form-group .input_number_product {
    width: 70px;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    box-shadow: none;
    height: 42px;
    min-height: unset
}

#quick-view-product form {
    width: 100%;
    margin: 0px;
    padding: 10px 0
}

    #quick-view-product form .selector-wrapper label {
        font-size: 14px;
        width: 85px;
        font-family: "Quicksand",sans-serif;
        font-weight: 400;
        color: #636363;
        line-height: 40px;
        margin-bottom: 0px
    }

    #quick-view-product form .selector-wrapper .single-option-selector {
        font-family: "Quicksand",sans-serif;
        width: 35%;
        float: none;
        border-radius: 3px
    }

    #quick-view-product form label {
        display: inline-block
    }

    #quick-view-product form select {
        width: 150px;
        display: inline-block;
        height: 40px;
        float: left;
        margin-bottom: 15px;
        margin-right: 20px
    }

#quick-view-product #usefull_link_block {
    margin: 10px 0
}

    #quick-view-product #usefull_link_block li a {
        color: #222;
        line-height: 17px
    }

#quick-view-product .fancybox-overlay {
    display: block !important;
    height: 100vh;
    background: none;
    z-index: 100
}

#quick-view-product .quick-view-product {
    position: absolute;
    width: 950px;
    top: 5%;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: #fff;
    z-index: 8011;
    border-radius: 0px
}

    #quick-view-product .quick-view-product .details-product:before {
        right: 48.5% !important
    }

    #quick-view-product .quick-view-product .details-product:after {
        display: none
    }

    #quick-view-product .quick-view-product .flex-viewport {
        min-height: 440px !important
    }

    #quick-view-product .quick-view-product .header_qv {
        font-weight: 400;
        font-size: 14px;
        font-family: "Quicksand",sans-serif;
        display: inline-block;
        float: left;
        line-height: 40px;
        color: #363025;
        width: 100%
    }

#quick-view-product .product-right-column .price-product-detail {
    margin: 0;
    line-height: 33px
}

#quick-view-product .total-price {
    float: left;
    width: 100%;
    display: block;
    margin-top: 15px
}

    #quick-view-product .total-price span {
        font-size: em(15px);
        font-weight: 400;
        color: #222
    }

#quick-view-product .product-right-column .quantity_wanted_p {
    width: 100%;
    margin-top: 15px
}

#quick-view-product .product-right-column .add_to_cart_detail {
    margin: 15px 10px 15px 0;
    width: 100%
}

    #quick-view-product .product-right-column .add_to_cart_detail.disabled {
        padding: 0 20px
    }

#quick-view-product .product-right-column .btn-wishlist {
    margin-top: 15px
}

#quick-view-product .swatch .swatch-element {
    margin: 0px 5px 5px 0
}

#quick-view-product .loading-imgquickview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

#quick-view-product .availability, #quick-view-product .product-sku {
    line-height: 28px;
    color: #f4b915
}

#thumbs_list_quickview {
    text-align: center;
    position: relative;
    margin-top: 10px
}

.quickview-more-views-owlslider {
    padding: 0
}

#thumblist_quickview #thumblist {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: static
}

#thumblist_quickview .swiper-slide {
    float: left
}

    #thumblist_quickview .swiper-slide.active > a {
        border: 1px solid #f4b915
    }

    #thumblist_quickview .swiper-slide a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 1px solid #e9edf5;
        height: 96.25px
    }

    #thumblist_quickview .swiper-slide img {
        max-width: 100% !important;
        max-height: 100% !important;
        width: auto;
        margin: 0 auto
    }

#thumblist_quickview .thumb_item {
    border: 1px solid #e6e6e6
}

@media (max-width: 1199px) {
    #quick-view-product, .quickview {
        display: none !important
    }
}

.fancybox-close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 8040;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 50%
}

.quick_option .quantity_wanted_p {
    width: 100%;
    float: left;
    margin-top: 15px
}

    .quick_option .quantity_wanted_p .soluong1 {
        margin-bottom: 10px
    }

.quickview-info .reviews_qv {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    padding: 10px 0 7px 0
}

    .quickview-info .reviews_qv .text_revi {
        position: relative;
        line-height: 27px;
        font-size: 13px;
        color: #7b7b7b;
        font-weight: 500;
        margin-left: 10px;
        padding-left: 10px
    }

        .quickview-info .reviews_qv .text_revi:before {
            content: "|";
            position: absolute;
            color: #7b7b7b;
            left: 0;
            line-height: 27px
        }

.quickview-info .price-box .h2 {
    color: #363636
}

.quick_option .quantity_wanted_p .soluong_h {
    width: 100px;
    line-height: 32px;
    display: inline-block;
    float: left;
    font-weight: 400;
    font-size: 14px;
    color: #636363
}

.quick_option .quantity_wanted_p .input_qty_qv {
    width: 120px;
    display: inline-block;
    float: left;
    position: relative;
    padding: 0;
    margin: 0px;
    margin-right: 10px;
    border: none;
    box-shadow: none;
    height: 45px
}

    .quick_option .quantity_wanted_p .input_qty_qv span {
        display: block;
        float: left;
        width: 100%;
        margin-bottom: 10px
    }

    .quick_option .quantity_wanted_p .input_qty_qv .num_1 {
        line-height: 42px;
        border: solid 1px #eaebf3;
        display: inline-block;
        width: 40px;
        height: 45px;
        background: #fff;
        float: left;
        color: #8d90a6;
        text-align: center;
        padding: 0px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        font-size: 28px;
        border-right: none
    }

    .quick_option .quantity_wanted_p .input_qty_qv .num_2 {
        line-height: 42px;
        border: solid 1px #eaebf3;
        display: inline-block;
        width: 40px;
        height: 45px;
        background: #fff;
        float: left;
        color: #8d90a6;
        text-align: center;
        padding: 0px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        font-size: 20px;
        border-left: none
    }

    .quick_option .quantity_wanted_p .input_qty_qv input {
        margin: 0px;
        display: block;
        float: left;
        color: #8d90a6;
        height: 45px;
        border: 1px solid #eaebf3;
        border-right: none;
        border-left: none;
        width: 40px;
        text-align: center;
        box-shadow: none;
        border-radius: 0px;
        font-size: 15px;
        padding: 0
    }

.quick_option .contacts {
    display: inline-block;
    float: left;
    text-align: left;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    margin-top: 10px
}

.quickview-product .product-single h1 a, .quickview-product .product-single .h1 a {
    font-size: em(20px)
}

.quickview-product .product-single .price {
    font-size: em(26px)
}

.quickview-product .content {
    padding: 30px
}

.quickview-product .product-name {
    margin: 0 0 10px !important
}

.quickview-product .review {
    margin-bottom: 10px
}

    .quickview-product .review:before {
        content: " ";
        display: table
    }

    .quickview-product .review:after {
        content: " ";
        display: table;
        clear: both
    }

    .quickview-product .review .spr-badge {
        float: left;
        height: 24px;
        overflow: hidden;
        position: relative;
        margin-bottom: 0
    }

        .quickview-product .review .spr-badge .spr-icon {
            margin: 0
        }

        .quickview-product .review .spr-badge .spr-active {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            overflow: hidden
        }

        .quickview-product .review .spr-badge .spr-badge-caption {
            float: left;
            margin: 0 0 9px
        }

.quickview-product span.available {
    display: none
}

    .quickview-product span.available.active {
        display: block
    }

.quickview-product .call_phone_buy {
    margin: 17px 0 15px 0;
    color: #8d90a6
}

    .quickview-product .call_phone_buy a {
        color: #f4b915;
        font-weight: bold
    }

        .quickview-product .call_phone_buy a:hover {
            color: #363025 !important
        }

.quickview-product .social-sharing {
    float: left;
    width: 100%
}

.quickview-product .view-more {
    font-size: 13px
}

    .quickview-product .view-more:hover {
        color: #f4b915;
        text-decoration: none
    }

.quickview-product .product-actions {
    border: none;
    padding: 0;
    margin: 0
}

    .quickview-product .product-actions .btn-addToCart {
        clear: none;
        margin: 0
    }

.quickview-product .product-media {
    position: relative;
    min-width: 400px
}

    .quickview-product .product-media:before {
        content: " ";
        display: table
    }

    .quickview-product .product-media:after {
        content: " ";
        display: table;
        clear: both
    }

.quickview-product .more-views {
    width: 80px;
    margin: 0;
    height: calc(100% - 60px);
    min-height: 361px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden
}

    .quickview-product .more-views a {
        display: block;
        overflow: hidden;
        height: 100%
    }

    .quickview-product .more-views img {
        display: block;
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }

.quickview-product .border-bottom-qv {
    padding: 2px 0px;
    border-left: 0px;
    border-right: 0px;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px
}

.quickview-product .featured-image {
    float: right;
    width: calc(100% - 100px);
    margin: 0
}

.quickview-product form {
    margin: 0
}

.quickview-product .product-actions .product-single-quantity {
    margin-bottom: 0
}

.quickview-product .product-single .product-description {
    margin: 0 0 25px
}

.quickview-product .product-options {
    margin: 0 0 25px;
    padding: 0 0 25px
}

.quickview-product .details {
    margin: 0 0 8px
}

.swatch {
    margin: 15px 0
}

    .swatch .header {
        margin: 0px 10px 10px 0;
        text-align: left;
        font-weight: 700;
        font-size: 14px;
        color: #363025;
        z-index: 0;
        height: unset
    }

@media (min-width: 414px) {
    .swatch .header {
        display: inline-block;
        float: left;
        width: 100px
    }
}

.swatch .header .valued {
    color: #f4b915
}

.swatch label {
    float: left;
    min-width: 40px !important;
    height: 40px !important;
    margin: 0;
    border: 1px solid #eeddba;
    background-color: #fff;
    font-size: 17px;
    font-family: "Quicksand",sans-serif;
    text-align: center;
    white-space: nowrap;
    padding: 0;
    color: #848484;
    float: left;
    line-height: 40px
}

.swatch-element label {
    padding: 0 10px
}

.color.swatch-element label {
    padding: 0
}

.swatch input:checked + label {
    border-color: #f4b915;
    color: #f9a529
}

    .swatch input:checked + label:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        border-style: solid;
        border-width: 0 0 20px 20px;
        border-color: transparent transparent #f9a529 transparent;
        z-index: 1
    }

    .swatch input:checked + label:after {
        content: "";
        background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/i-check.svg?1665454509075);
        background-repeat: no-repeat;
        width: 8px;
        height: 8px;
        display: block;
        background-size: contain;
        position: absolute;
        bottom: 2px;
        right: 3px;
        z-index: 2
    }

.swatch .color input:checked + label {
    position: relative
}

    .swatch .color input:checked + label:before {
        display: none
    }

    .swatch .color input:checked + label:after {
        content: "";
        background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/i-check.svg?1665454509075);
        background-repeat: no-repeat;
        width: 25px;
        height: 14px;
        display: block;
        background-size: contain;
        position: absolute;
        top: 12px;
        right: 0px
    }

.swatch .color .fa:before {
    width: 30px;
    height: 30px
}

.swatch .color label {
    border-radius: 0;
    width: 40px;
    min-width: unset !important;
    height: 40px !important;
    line-height: 40px !important;
    border: 1px solid #dedede;
    border-radius: 0 !important
}

    .swatch .color label:before {
        content: "";
        height: 100%;
        width: 100%;
        border: none;
        position: absolute;
        left: 0;
        top: 0
    }

.swatch .swatch-element {
    margin: 0px 10px 10px 0;
    float: left;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    position: relative
}

    .swatch .swatch-element input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0
    }

    .swatch .swatch-element.color {
        margin: 0px 10px 0px 0
    }

        .swatch .swatch-element.color .tim {
            background-color: #db23b6
        }

        .swatch .swatch-element.color .xanh {
            background-color: #0554ff
        }

        .swatch .swatch-element.color .vang {
            background-color: #e6fa0a
        }

        .swatch .swatch-element.color .den {
            background-color: #000000
        }

        .swatch .swatch-element.color .do {
            background-color: #f20808
        }

        .swatch .swatch-element.color .cam {
            background-color: #fc9905
        }

        .swatch .swatch-element.color .xam {
            background-color: #615a5a
        }

        .swatch .swatch-element.color .xanh-nuoc-bien {
            background-color: #3a40fa
        }

        .swatch .swatch-element.color .xanh-la-cay {
            background-color: #00ff15
        }

        .swatch .swatch-element.color .hong {
            background-color: #ff00d5
        }

.crossed-out {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

#quick-view-product .selector-wrapper {
    display: none !important
}

.swatch .swatch-element .crossed-out {
    display: none
}

.swatch .swatch-element.soldout .crossed-out {
    display: block
}

.swatch .swatch-element.soldout label {
    cursor: no-drop
}

.swatch .tooltip {
    text-align: center;
    background: #f4b915;
    color: #fff;
    bottom: 100%;
    padding: 10px;
    display: block;
    position: absolute;
    width: 100px;
    left: -35px;
    margin-bottom: 15px;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
    -o-box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
    z-index: 10000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

    .swatch .tooltip:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%
    }

    .swatch .tooltip:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid #f4b915 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -10px;
        position: absolute;
        width: 0
    }

.swatch .swatch-element:hover .tooltip {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px)
}

.swatch.error {
    background-color: #E8D2D2 !important;
    color: #333 !important;
    padding: 1em;
    border-radius: 5px
}

    .swatch.error p {
        margin: 0.7em 0
    }

        .swatch.error p:first-child {
            margin-top: 0
        }

        .swatch.error p:last-child {
            margin-bottom: 0
        }

    .swatch.error code {
        font-family: monospace
    }
