@charset "utf-8";
/* CSS Document */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px
    }
}

.opacity_menu.open_opacity {
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0px !important;
    left: 0px;
    z-index: 999
}

@media (min-width: 992px) {
    .menu-bar-mobile {
        display: none
    }

    .cart-mobile-header {
        display: none
    }

    .logo-mobile {
        display: none
    }

    .search_mobile {
        display: none
    }

    .account_mb {
        display: none
    }
}

@media (max-width: 991px) {
    .menu-bar-mobile {
        height: 84px;
        float: left;
        position: relative;
        line-height: 84px;
        z-index: 99
    }

        .menu-bar-mobile .menu-bar {
            font-size: 36px;
            display: block;
            color: #fff;
            float: left;
            text-align: center;
            position: relative
        }

            .menu-bar-mobile .menu-bar svg {
                width: 30px;
                height: 30px
            }

                .menu-bar-mobile .menu-bar svg path {
                    fill: #fff
                }

    .cart-mobile-header {
        position: relative;
        height: 85px;
        float: right;
        line-height: 85px;
        z-index: 9;
        width: 40px;
        text-align: center
    }

        .cart-mobile-header .icon-cart {
            display: inline-block
        }

            .cart-mobile-header .icon-cart svg {
                width: 18px;
                height: 18px
            }

                .cart-mobile-header .icon-cart svg path {
                    fill: #f4b915
                }

        .cart-mobile-header .count_item_pr {
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            position: absolute;
            top: 25px;
            left: 25px;
            background: #ef1515;
            color: #fff;
            font-size: 12px;
            font-family: "Quicksand",sans-serif;
            font-weight: bold;
            border-radius: 50%
        }
}

@media (max-width: 767px) {
    .menu-bar-mobile {
        height: 55px;
        line-height: 55px
    }

    .cart-mobile-header {
        height: 55px;
        line-height: 55px
    }

        .cart-mobile-header .count_item_pr {
            top: 5px
        }
}

@media (min-width: 992px) {
    #open-filters {
        display: none
    }
}

@media (max-width: 991px) {
    #open-filters {
        color: #fff;
        background: #f4b915;
        position: fixed;
        right: 0;
        line-height: 18px;
        top: 35% !important;
        padding: 7px 10px;
        cursor: pointer;
        z-index: 9999;
        font-size: 18px;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease
    }

        #open-filters svg {
            width: 12px;
            height: 12px
        }

        #open-filters.openf {
            right: 256px
        }

            #open-filters.openf .i-close-white {
                display: block
            }

            #open-filters.openf .i-bar-white {
                display: none
            }

        #open-filters span {
            display: none
        }

    .dqdt-sidebar {
        position: fixed;
        width: 256px;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        border-top: solid 1px #bbbbbb;
        border-left: solid 1px #bbbbbb;
        overflow: hidden;
        overflow-y: auto;
        z-index: 9999;
        visibility: hidden;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }

        .dqdt-sidebar.openf {
            padding-top: 15px;
            visibility: visible;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0)
        }

        .dqdt-sidebar .aside-filter {
            margin-left: 0px
        }

    #nav-mobile {
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease
    }

        #nav-mobile.open_sidebar_menu {
            visibility: visible
        }

    .top-cart-content {
        display: none !important
    }
}

.header_right_2 .account {
    border-bottom: solid 1px #4b4b4b;
    border-top: solid 1px #4b4b4b;
    padding: 15px 0;
    margin-top: 15px;
    float: left;
    width: 100%
}

    .header_right_2 .account img {
        display: inline-block;
        margin-right: 5px
    }

.header_right_2 .account_header {
    text-align: right;
    padding: 0;
    margin: 0;
    display: inline-block
}

    .header_right_2 .account_header li {
        display: inline-block;
        margin-right: 15px
    }

        .header_right_2 .account_header li:last-child {
            margin-right: 0px;
            position: relative
        }

            .header_right_2 .account_header li:last-child:before {
                content: "/";
                position: absolute;
                top: 0;
                left: -12px;
                color: #b1b1b1
            }

        .header_right_2 .account_header li a {
            color: #b1b1b1;
            font-size: 16px
        }

            .header_right_2 .account_header li a:hover {
                color: #f4b915
            }

.header_right_2 .header_search .icon-search-mobile {
    text-align: right;
    display: inline-block;
    position: relative
}

    .header_right_2 .header_search .icon-search-mobile i.icon-search {
        background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/i-search.svg?1665454509075);
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: block;
        background-size: contain;
        position: absolute;
        bottom: 0px;
        right: 0px
    }

.header_right_2 .header_search form {
    width: 100%;
    float: left;
    display: block;
    margin-top: 0
}

    .header_right_2 .header_search form input {
        width: 100%;
        height: 36px;
        min-height: 36px;
        padding: 0 10px;
        line-height: 36px;
        background: transparent;
        outline: none;
        padding: 0 45px 0 20px;
        float: right;
        border: none;
        overflow: hidden;
        background: #fff;
        border-radius: 6px !important;
        font-size: 14px;
        color: #999ea1;
        font-style: italic
    }

        .header_right_2 .header_search form input::-webkit-input-placeholder {
            color: #999ea1
        }

        .header_right_2 .header_search form input::-moz-placeholder {
            color: #999ea1
        }

        .header_right_2 .header_search form input:-ms-input-placeholder {
            color: #999ea1
        }

    .header_right_2 .header_search form .input-group-btn {
        position: absolute;
        white-space: nowrap;
        width: 40px;
        height: 36px;
        line-height: 36px;
        right: 0;
        top: 0px;
        background: transparent;
        border-radius: 50%;
        overflow: hidden
    }

        .header_right_2 .header_search form .input-group-btn button {
            padding: 0 10px;
            position: absolute;
            top: 0px;
            right: 3px;
            font-size: 14px;
            height: 40px;
            line-height: 40px;
            color: #333;
            background-color: transparent;
            border: none
        }

            .header_right_2 .header_search form .input-group-btn button .icon-search {
                background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/i-search-2.svg?1665454509075);
                background-repeat: no-repeat;
                width: 18px;
                height: 18px;
                display: block;
                background-size: contain;
                position: absolute;
                bottom: 14px;
                right: 11px
            }

.header_right_2 .top-cart-contain {
    float: left;
    width: 100%
}

    .header_right_2 .top-cart-contain .img_hover_cart {
        color: #b1b1b1;
        position: relative;
        font-family: "Quicksand",sans-serif;
        font-size: 16px
    }

        .header_right_2 .top-cart-contain .img_hover_cart img {
            margin-right: 10px
        }

        .header_right_2 .top-cart-contain .img_hover_cart .icon-shopping-bag {
            background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/i-shopping-bag.svg?1665454509075);
            background-repeat: no-repeat;
            width: 19px;
            height: 19px;
            display: block;
            background-size: contain;
            position: absolute;
            top: 14px;
            right: 0
        }

        .header_right_2 .top-cart-contain .img_hover_cart .count_item_pr {
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            position: absolute;
            top: -6px;
            left: 10px;
            background: #f4b915;
            color: #fff;
            font-size: 12px;
            border-radius: 50%
        }

@media (max-width: 991px) {
    .menu_mobile {
        width: 280px;
        height: 100%;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0px !important;
        background-color: #71cbe8;
        overflow-x: hidden;
        padding: 20px 15px;
        visibility: hidden;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transform: translateX(-280px);
        -ms-transform: translateX(-280px);
        -o-transform: translateX(-280px);
        transform: translateX(-280px)
    }

        .menu_mobile.open_sidebar_menu {
            visibility: visible;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            display: block
        }

        .menu_mobile .header_hotline {
            font-size: 14px;
            font-family: "Quicksand",sans-serif;
            color: #fff;
            font-weight: 400
        }

            .menu_mobile .header_hotline a {
                color: #f9a529
            }

        .menu_mobile .search_mobile {
            position: relative
        }

            .menu_mobile .search_mobile:before {
                content: "";
                width: 1px;
                height: 24px;
                position: absolute;
                top: 50%;
                right: 40px;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                background: #e0d4d4;
                width: 1px;
                z-index: 9
            }

            .menu_mobile .search_mobile form {
                display: block;
                margin-top: 0;
                margin-bottom: 15px
            }

                .menu_mobile .search_mobile form input {
                    width: 100%;
                    height: 36px;
                    min-height: 36px;
                    padding: 0 10px;
                    line-height: 36px;
                    background: transparent;
                    outline: none;
                    padding: 0 45px 0 20px;
                    float: right;
                    border: none;
                    overflow: hidden;
                    background: #fff;
                    border-radius: 6px !important;
                    font-size: 14px;
                    color: #999ea1;
                    position: relative
                }

                .menu_mobile .search_mobile form .input-group-btn {
                    position: absolute;
                    white-space: nowrap;
                    width: 40px;
                    height: 36px;
                    line-height: 36px;
                    right: 0;
                    top: 0px;
                    background: transparent;
                    border-radius: 50%;
                    overflow: hidden
                }

                    .menu_mobile .search_mobile form .input-group-btn button {
                        padding: 0 10px;
                        position: absolute;
                        top: 0px;
                        right: 3px;
                        font-size: 14px;
                        height: 40px;
                        line-height: 40px;
                        color: #333;
                        background-color: transparent;
                        border: none
                    }

                        .menu_mobile .search_mobile form .input-group-btn button .icon-search svg {
                            width: 16px;
                            height: 16px;
                            color: #92a5b1
                        }

        .menu_mobile .logo_center {
            display: none
        }

        .menu_mobile .account_mb {
            display: block;
            position: relative;
            color: #fff;
            font-family: "Quicksand",sans-serif;
            font-size: 17px;
            padding: 12px 0;
            cursor: pointer;
            border-bottom: 1px dashed #aae3f6
        }

            .menu_mobile .account_mb.current {
                border-bottom: 0;
                padding-bottom: 0
            }

                .menu_mobile .account_mb.current > .icon {
                    color: #fff;
                    border-color: #fff;
                    transform: rotate(180deg)
                }

            .menu_mobile .account_mb .icon {
                -webkit-transition: all 0.35s ease;
                -o-transition: all 0.35s ease;
                transition: all 0.35s ease
            }

            .menu_mobile .account_mb svg {
                width: 16px;
                height: 16px;
                color: #fff;
                margin-right: 3px;
                transform: translateY(3px)
            }

                .menu_mobile .account_mb svg path {
                    fill: #fff
                }

            .menu_mobile .account_mb .account_mobile {
                position: relative;
                padding: 0;
                margin: 0;
                display: none
            }

                .menu_mobile .account_mb .account_mobile li {
                    list-style: none;
                    padding: 12px 0;
                    border-bottom: 1px dashed #aae3f6
                }

                    .menu_mobile .account_mb .account_mobile li a {
                        color: #fff;
                        font-size: 16px
                    }

                        .menu_mobile .account_mb .account_mobile li a:hover {
                            color: #f4b915
                        }

        .menu_mobile .item_big {
            padding: 0;
            margin: 0;
            overflow: auto;
            overflow-x: hidden
        }

            .menu_mobile .item_big::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #fff
            }

            .menu_mobile .item_big::-webkit-scrollbar {
                width: 0px;
                background-color: #fff
            }

            .menu_mobile .item_big::-webkit-scrollbar-thumb {
                border: 0px solid #cdcfdd
            }

            .menu_mobile .item_big .title_mobile {
                font-weight: 600;
                font-family: "Quicksand",sans-serif;
                color: #fff;
                font-size: 18px;
                padding-bottom: 12px;
                text-transform: uppercase
            }

            .menu_mobile .item_big .nav-item:before {
                content: "";
                width: 15px;
                height: 15px;
                background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/icon-menu.png?1665454509075);
                position: absolute;
                left: 0;
                top: 17px;
                background-position: top center;
                background-size: contain;
                background-repeat: no-repeat
            }

            .menu_mobile .item_big li {
                position: relative;
                display: block
            }

                .menu_mobile .item_big li:last-child {
                    border-bottom: none
                }

                .menu_mobile .item_big li.special a {
                    color: #f9a529;
                    font-weight: 700;
                    font-family: "Quicksand",sans-serif;
                    font-size: 14px;
                    text-decoration: none;
                    padding: 10px 15px;
                    text-transform: unset;
                    font-weight: 400
                }

                .menu_mobile .item_big li.level0.current > a {
                    color: #f9a529
                }

                .menu_mobile .item_big li.level0.current > svg {
                    color: #f9a529;
                    transform: rotate(45deg)
                }

                .menu_mobile .item_big li.level0.current > ul {
                    display: block
                }

                .menu_mobile .item_big li.level0 ul {
                    padding-left: 0;
                    display: none
                }

                    .menu_mobile .item_big li.level0 ul li.current > ul {
                        display: block
                    }

                    .menu_mobile .item_big li.level0 ul li > ul {
                        display: none
                    }

                .menu_mobile .item_big li.level0 .level1.current > a {
                    color: #f9a529
                }

                .menu_mobile .item_big li.level0 .level1.current > svg {
                    color: #f9a529;
                    transform: rotate(45deg)
                }

                .menu_mobile .item_big li.level0 .level1 a {
                    padding: 12px 15px 12px 20px;
                    position: relative;
                    line-height: 24px;
                    text-transform: unset;
                    font-weight: 400;
                    font-family: "Quicksand",sans-serif
                }

                .menu_mobile .item_big li.level0 .level1:last-child {
                    border-bottom: 0px
                }

                .menu_mobile .item_big li.level0 .level1 .fa {
                    top: 11px;
                    right: -8px
                }

                .menu_mobile .item_big li.level0 .level1 .level1 {
                    padding-left: 0px
                }

                    .menu_mobile .item_big li.level0 .level1 .level1.current {
                        border-top: 0px
                    }

                        .menu_mobile .item_big li.level0 .level1 .level1.current > a {
                            color: #f9a529
                        }

                            .menu_mobile .item_big li.level0 .level1 .level1.current > a:before {
                                border-color: #f9a529
                            }

                    .menu_mobile .item_big li.level0 .level1 .level1 .fa {
                        top: 11px;
                        right: -8px
                    }

                    .menu_mobile .item_big li.level0 .level1 .level1:last-child {
                        border-bottom: 0px
                    }

                    .menu_mobile .item_big li.level0 .level1 .level1 ul.level2 {
                        padding-left: 0px
                    }

                    .menu_mobile .item_big li.level0 .level1 .level1 ul.level3 {
                        padding-left: 0px
                    }

                    .menu_mobile .item_big li.level0 .level1 .level1 .level2 a, .menu_mobile .item_big li.level0 .level1 .level1 .level3 a {
                        padding: 8px 10px 8px 45px;
                        position: relative;
                        line-height: 24px;
                        text-transform: unset;
                        font-weight: 400;
                        font-family: "Quicksand",sans-serif
                    }

                        .menu_mobile .item_big li.level0 .level1 .level1 .level2 a:before, .menu_mobile .item_big li.level0 .level1 .level1 .level3 a:before {
                            content: "";
                            top: 16px;
                            left: 30px;
                            position: absolute;
                            width: 9px;
                            height: 9px;
                            border: solid 2px #fff;
                            border-radius: 50%
                        }

                    .menu_mobile .item_big li.level0 .level1 .level1 .level2 .level2 a:before, .menu_mobile .item_big li.level0 .level1 .level1 .level2 .level3 a:before, .menu_mobile .item_big li.level0 .level1 .level1 .level3 .level2 a:before, .menu_mobile .item_big li.level0 .level1 .level1 .level3 .level3 a:before {
                        border-radius: 0
                    }

                    .menu_mobile .item_big li.level0 .level1 .level1 .level2.current > a, .menu_mobile .item_big li.level0 .level1 .level1 .level3.current > a {
                        color: #f9a529
                    }

                        .menu_mobile .item_big li.level0 .level1 .level1 .level2.current > a:before, .menu_mobile .item_big li.level0 .level1 .level1 .level3.current > a:before {
                            border-color: #f9a529
                        }

                    .menu_mobile .item_big li.level0 .level1 .level1 .level2.current > svg, .menu_mobile .item_big li.level0 .level1 .level1 .level3.current > svg {
                        color: #f9a529;
                        transform: rotate(45deg)
                    }

                    .menu_mobile .item_big li.level0 .level1 .level1 .level2:last-child, .menu_mobile .item_big li.level0 .level1 .level1 .level3:last-child {
                        border-bottom: 0px
                    }

                .menu_mobile .item_big li svg {
                    height: 20px;
                    width: 18px;
                    position: absolute;
                    top: 14px;
                    padding: 5px 3px;
                    color: #fff;
                    right: 0px;
                    margin: auto;
                    -webkit-transition: all 0.35s ease;
                    -o-transition: all 0.35s ease;
                    transition: all 0.35s ease
                }

                    .menu_mobile .item_big li svg.fa-angle-down {
                        display: none
                    }

                .menu_mobile .item_big li a {
                    padding: 12px 10px 12px 23px;
                    font-size: 17px;
                    line-height: 24px;
                    display: block;
                    font-weight: 400;
                    position: relative;
                    color: #fff;
                    text-decoration: none;
                    font-family: "Quicksand",sans-serif;
                    border-bottom: 1px dashed #aae3f6
                }

        .menu_mobile .ul_ li span {
            padding-left: 15px
        }

        .menu_mobile .ul_ li .phone_ {
            color: red;
            padding-left: 5px
        }

        .menu_mobile .ul_ li a {
            color: #fff;
            font-weight: 400;
            font-family: "Quicksand",sans-serif;
            font-size: 15px;
            text-decoration: none;
            padding: 10px 15px
        }
}
